$body-background-color: #333;
$body-color: #cfb53b;

$border: 1px solid $body-color;

$gap-none: 0px;
$gap-xs: 5px;
$gap-sm: 10px;
$gap-md: 15px;
$gap-lg: 20px;
$gap-xl: 25px;
$gap-xxl: 30px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
