$font-size-xsmall: 8px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 28px;

$gap-none: 0px;
$gap-small: 5px;
$gap-medium: 10px;
$gap-large: 15px;
$gap-xlarge: 20px;
$gap-xxlarge: 25px;

$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;
