@font-face {
  font-family: 'KodeMono';
  src: url('./../assets//fonts/kodemono/KodeMono-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Variable */
  font-style: normal;
}

@font-face {
  font-family: 'KodeMono';
  src: url('./../assets/fonts/kodemono/static/KodeMono-Regular.ttf')
    format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'KodeMono';
  src: url('./../assets/fonts/kodemono/static/KodeMono-Bold.ttf')
    format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'KodeMono';
  src: url('./../assets/fonts/kodemono/static/KodeMono-Medium.ttf')
    format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'KodeMono';
  src: url('./../assets/fonts/kodemono/static/KodeMono-SemiBold.ttf')
    format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

$body-background-color: #222;
$body-color: #bbb;
