@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.min';
@import 'fonts';
@import 'variables';

@import './widgets/page.widget.scss';
@import './tags/button.tag.scss';

* {
  box-sizing: border-box;
  font-family: 'KodeMono', monospace, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;

  #app {
    flex: 1;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
}
