.page {
  flex: 1;
  display: flex;
  flex-direction: column;

  .title {
    flex: 0;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    border-bottom: 1px solid white;
  }

  .content {
    flex: 1;
    overflow: auto;
    padding: 10px 0;
  }
}
